<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

        </script>
    </head>
    <body>
        {% block content %}Welcome{% endblock %}
    </body>
</html>
